extends /layout

block pageSpecificScipts
  script(nonce=cspNonce src="/javascripts/extraction.js")
  script(nonce=cspNonce src="/javascripts/extraction-files-edit.js")

block body
  section#fixed-top-section
    include /common/main-navigation
    +main-navigation(false)
  include /common/side-menu-fake
  +sideNavigationFake
  include /utilities/dictionaries-main-panel-header
  - const c = { noSidebar: false, hrefurl: '.', h2: t('Luščenje iz lastnih besedil | dodaj opravilo '), h1: t('Uporabnikovi dokumenti'), description: t('Uporabnik na tem mestu izdela specializirani korpus iz besedil, ki jih je zbral in shranil sam. Besedila naj bodo izbrana po načelih tvorjenja specializiranih korpusov. Za uspešno luščenje priporočamo najmanj 10 besedil. Vsa besedila naj bodo shranjena v besedilnem formatu (.txt). Luščenje podpira tudi formate .docx in .pdf, vendar so rezultati slabši.'), buttons: [{ type: 'cancel', content: t('Naprej'), classAtr: 'btn border-header header-btn-secondary link-back' }] }
  +mainHeader(c)
  .content-hold-prerequisites.mt-2
    #offset-main
      .table-tasks
        .table-responsive
          table.styled-table
            thead
              tr#thead
                th= 'ID'
                th= t('IME DATOTEKE')
                th= t('VELIKOST')
                th= t('DATUM')
                th= ''
            tbody#files-list
              each document, index in extractionDocuments
                tr
                  td.file-index= index + 1
                  td.file-name= document.filename
                  td.file-size= document.size
                  td.file-date-modified= new Date(document.timeModified).toLocaleDateString('sl-SL')
                  td.file-last-cell
                    button.p-0.delete-file.delete-btn-table
                      img(src="/images/red-trash-icon.svg" alt="")
                      span.ms-2= t('Briši')
      #upload-files-container.row.ms-2.me-2.align-items-center.mt-4
        form#upload-files.col-sm-5.upload-a-file-field.p-2.align-items-center.d-flex(
          method="post"
          enctype="multipart/form-data"
        )
          input(type="hidden" name="extractionId" value=id)
          .col-sm-5.upload-inner-border.w-100.justify-content-center.d-sm-flex.p-3.drag-area
            div
              button.btn.btn-primary(type="button")= t('Dodaj datoteko')
              input#upload(
                type="file"
                name="extractionFile"
                accept=".txt, .doc, .docx, .pdf"
                multiple
                hidden
              )
        .col.d-flex.align-items-center.ms-md-3
          span.gray-info= t('Dodaj besedilo za luščenje terminoloških kandidatov iz lastnega specializiranega korpusa. Ko boste dodali vsa besedila, ki ste jih izbrali, morate izbiro shraniti.')
  //- include /utilities/modal-spinner
  include /utilities/modal-alert
  include /common/footer
