//- TODO MARK FOR DELETION

h1 Dokumenti za luščenje #{ id }

h2 Seznam datotek
ul#files-list
  each document in extractionDocuments
    li DATOTEKA - Ime: #[span.filename= document.filename], velikost: #{ document.size }, datum: #{ new Date(document.timeModified).toLocaleDateString('sl-SL') } #[a.delete-file(href="#") BRIŠI]

h2 Dodaj nov(e) datoteke(e)
form#upload-files(method="post" enctype="multipart/form-data")
  input(type="hidden" name="extractionId" value=id)
  label Datoteka(e):
    input(
      type="file"
      name="extractionFile"
      accept=".txt, .doc, .docx, .pdf"
      multiple
    )

a(href=`../${id}`) Nazaj
p Obestila:
ul#messages

script(
  nonce=cspNonce
  src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
)
script(nonce=cspNonce src="/javascripts/extraction-poc-files-edit.js")
