h1 Luščenje #{ id } - uredi

form(method="post")
  div
    label Ime:
      input(name="name" value=extraction.name)
  div
    label Glavno področje:
      select(name="domain")
        option
        each domain in allPrimaryDomains
          option(value=domain.id selected=domain.id === extraction.domainId)= domain.nameSl
  div
    label Vrsta dokumenta:
      select.pick-multiple(name="documentType" multiple)
        option
        option(value=101 selected=extraction.documentType.includes(101)) Izvirni znanstveni članek
        option(value=102 selected=extraction.documentType.includes(102)) Pregledni znanstveni članek
        option(value=103 selected=extraction.documentType.includes(103)) Kratki znanstveni prispevek
        option(value=104 selected=extraction.documentType.includes(104)) Strokovni članek
        option(value=105 selected=extraction.documentType.includes(105)) Poljudni članek
        option(value=106 selected=extraction.documentType.includes(106)) Objavljeni znanstveni prispevek na konferenci (vabljeno predavanje)
        option(value=107 selected=extraction.documentType.includes(107)) Objavljeni strokovni prispevek na konferenci (vabljeno predavanje)
        option(value=108 selected=extraction.documentType.includes(108)) Objavljeni znanstveni prispevek na konferenci
        option(value=109 selected=extraction.documentType.includes(109)) Objavljeni strokovni prispevek na konferenci
        option(value=110 selected=extraction.documentType.includes(110)) Objavljeni povzetek znanstvenega prispevka na konferenci (vabljeno predavanje)
        option(value=112 selected=extraction.documentType.includes(112)) Objavljeni povzetek znanstvenega prispevka na konferenci
        option(value=113 selected=extraction.documentType.includes(113)) Objavljeni povzetek strokovnega prispevka na konferenci
        option(value=116 selected=extraction.documentType.includes(116)) Samostojni znanstveni sestavek ali poglavje v monografski publikaciji
        option(value=117 selected=extraction.documentType.includes(117)) Samostojni strokovni sestavek ali poglavje v monografski publikaciji
        option(value=118 selected=extraction.documentType.includes(118)) Geslo – sestavek v enciklopediji, leksikonu, slovarju...
        option(value=119 selected=extraction.documentType.includes(119)) Recenzija, prikaz knjige, kritika
        option(value=120 selected=extraction.documentType.includes(120)) Predgovor, spremna beseda
        option(value=121 selected=extraction.documentType.includes(121)) Polemika, diskusijski prispevek
        option(value=122 selected=extraction.documentType.includes(122)) Intervju
        option(value=123 selected=extraction.documentType.includes(123)) Umetniški sestavek
        option(value=124 selected=extraction.documentType.includes(124)) Bibliografija, kazalo ipd.
        option(value=125 selected=extraction.documentType.includes(125)) Drugi članki ali sestavki
        option(value=201 selected=extraction.documentType.includes(201)) Znanstvena monografija
        option(value=202 selected=extraction.documentType.includes(202)) Strokovna monografija
        option(value=203 selected=extraction.documentType.includes(203)) Univerzitetni, visokošolski ali višješolski učbenik z recenzijo
        option(value=204 selected=extraction.documentType.includes(204)) Srednješolski, osnovnošolski ali drugi učbenik z recenzijo
        option(value=205 selected=extraction.documentType.includes(205)) Video in druga učna gradiva
        option(value=206 selected=extraction.documentType.includes(206)) Enciklopedija, slovar, leksikon, priročnik, atlas, zemljevid
        option(value=207 selected=extraction.documentType.includes(207)) Bibliografija
        option(value=208 selected=extraction.documentType.includes(208)) Doktorska disertacija
        option(value=209 selected=extraction.documentType.includes(209)) Magistrsko delo
        option(value=210 selected=extraction.documentType.includes(210)) Specialistično delo
        option(value=211 selected=extraction.documentType.includes(211)) Diplomsko delo
        option(value=212 selected=extraction.documentType.includes(212)) Končno poročilo o rezultatih raziskav
        option(value=213 selected=extraction.documentType.includes(213)) Elaborat, predštudija, študija
        option(value=214 selected=extraction.documentType.includes(214)) Projektna dokumentacija (idejni projekt, izvedbeni projekt)
        option(value=215 selected=extraction.documentType.includes(215)) Izvedensko mnenje, arbitražna odločba
        option(value=216 selected=extraction.documentType.includes(216)) Umetniško delo
        option(value=217 selected=extraction.documentType.includes(217)) Katalog razstave
        option(value=218 selected=extraction.documentType.includes(218)) Raziskovalni ali dokumentarni film, zvočni ali video posnetek
        option(value=219 selected=extraction.documentType.includes(219)) Radijska ali televizijska oddaja
        option(value=220 selected=extraction.documentType.includes(220)) Raziskovalni podatki
        option(value=221 selected=extraction.documentType.includes(221)) Programska oprema
        option(value=222 selected=extraction.documentType.includes(222)) Nova sorta
        option(value=223 selected=extraction.documentType.includes(223)) Patentna prijava
        option(value=224 selected=extraction.documentType.includes(224)) Patent
        option(value=225 selected=extraction.documentType.includes(225)) Druge monografije in druga zaključena dela
        option(value=227 selected=extraction.documentType.includes(227)) Znanstveni terminološki slovar, enciklopedija ali tematski leksikon
        option(value=230 selected=extraction.documentType.includes(230)) Zbornik strokovnih ali nerecenziranih znanstvenih prispevkov na konferenci
        option(value=231 selected=extraction.documentType.includes(231)) Zbornik recenziranih znanstvenih prispevkov na mednarodni ali tuji konferenci
        option(value=232 selected=extraction.documentType.includes(232)) Zbornik recenziranih znanstvenih prispevkov na domači konferenci
        option(value=310 selected=extraction.documentType.includes(310)) Umetniška poustvaritev
        option(value=311 selected=extraction.documentType.includes(311)) Radijski ali TV dogodek
        option(value=312 selected=extraction.documentType.includes(312)) Razstava
        option(value=313 selected=extraction.documentType.includes(313)) Organiziranje znanstvenih in strokovnih sestankov
        option(value=314 selected=extraction.documentType.includes(314)) Predavanje na tuji univerzi
        option(value=315 selected=extraction.documentType.includes(315)) Prispevek na konferenci brez natisa
        option(value=316 selected=extraction.documentType.includes(316)) Vabljeno predavanje na konferenci brez natisa
        option(value=320 selected=extraction.documentType.includes(320)) Druga dela
        option(value=325 selected=extraction.documentType.includes(325)) Druga izvedena dela
  div
    label Leto:
      select.enter-multiple(name="year" multiple style="width: 500px")
        each year in extraction.year
          option(value=year selected)= year
  div
    label Ključne besede:
      select.enter-multiple(name="keywords" multiple style="width: 500px")
        each keyword in extraction.keywords
          option(value=keyword selected)= keyword

h2 Stop termini:
ul
  each file in stopTermsFiles
    li DATOTEKA - Ime: #[span.filename= file.filename], velikost: #{ file.size }, datum: #{ new Date(file.timeModified).toLocaleDateString('sl-SL') }
a#edit-stop-terms(href=`${id}/stop-termini`) Uredi

br
br
button#search-btn Najdi
#search-result

br
br
a(href="../poc") Nazaj

p Obestila:
ul#messages

link(
  href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
  rel="stylesheet"
  integrity="sha256-zaSoHBhwFdle0scfGEFUCwggPN7F+ip9XRglo8IWb4w="
  crossorigin="anonymous"
)
script(
  nonce=cspNonce
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
  crossorigin="anonymous"
)
script(
  nonce=cspNonce
  src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"
  integrity="sha256-9yRP/2EFlblE92vzCA10469Ctd0jT48HnmmMw5rJZrA="
  crossorigin="anonymous"
)
script(
  nonce=cspNonce
  src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
)
script(nonce=cspNonce src="/javascripts/extraction-poc-oss-edit.js")
