footer.footer-bg.mt-5
  .text-left.p-2.footer.footer-bg
    .wide-footer
      .d-flex.align-center
        img.rsmzk.align-self-center(
          src="/images/rsmzk.svg"
          alt=t('REPUBLIKA SLOVENIJA MINISTRSTVO ZA KULTURO')
        )
      .flex-grow-1.d-flex.justify-content-center
        .mx-3.my-auto.d-flex.flex-column.align-items-center.justify-content-center
          span.d-block.txt.text-gray-2= t('Naložbo sofinancirata Republika Slovenija in Evropska unija iz Evropskega sklada za regionalni razvoj')
          a.d-block.txt.text-gray-2(href="https://www.eu-skladi.si") https://www.eu-skladi.si
      .d-flex.justify-content-end
        img.ekp(
          src="/images/EKP.svg"
          alt=t('EVROPSKI SKLAD ZA REGIONALNI RAZVOJ')
        )
    .narrow-footer
      .row
        .col-6.d-flex
          img.rsmzk.align-self-center(
            src="/images/rsmzk.svg"
            alt=t('REPUBLIKA SLOVENIJA MINISTRSTVO ZA KULTURO')
          )
        .col-6.d-flex.justify-content-end
          img.ekp(
            src="/images/EKP.svg"
            alt=t('EVROPSKI SKLAD ZA REGIONALNI RAZVOJ')
          )

      .row.padding-for-mobile-footer.mt-2
        .col.justify-content-begin.d-flex
          .my-auto
            span.d-block.txt.text-gray-2= t('Naložbo sofinancirata Republika Slovenija in Evropska unija iz Evropskega sklada za regionalni razvoj')
            a.d-block.txt.text-gray-2(href="https://www.eu-skladi.si") https://www.eu-skladi.si
