extends /layout

block pageSpecificScipts
  script(nonce=cspNonce src="/javascripts/dictionaries.js")

block body
  section#fixed-top-section
    include /common/main-navigation
    +main-navigation(false)
  include /common/side-menu-mixin-dictionaries
  - const d = { activeLvl1: 'attributes', activeLvl2: 'advanced' }
  +sideNavigation(d)

  include /utilities/dictionaries-main-panel-header
  - const c = { sideMenu: true, h2: dictionaryName, h1: t('Napredno'), description: t('Napredno urejanje omogoča spreminjanje večjega števila podatkov v terminološkem slovarju.') }
  +mainHeader(c)
  .content-hold-prerequisites
    #offset-main.main-container.mt-2
      input#adv-dictionary-id(
        type="hidden"
        name="dictionaryId"
        value=dictionary.id
      )
      .file-type.mt-2
        .row.g-0
          .col-md-6.white-border-background.p-4.d-flex.align-items-center
            span.info-text-for-button.me-auto= t('Brisanje slovarskih sestavkov')
            button#adv-delete-all-entries.btn.btn-primary.ps-5.pe-5.advanced-blue-btn= t('BRIŠI')
          .col-sm.ms-xxl-3.ms-md-3.align-items-center.d-flex.ps-1
            span.name-info-txt= t('Izbrišete lahko vse doslej obdelane slovarske sestavke in ohranite vse metapodatke o slovarju. Dejanja ni mogoče preklicati.')
              a.name-info-txt.ms-2(
                href="/pomoc#help-edit-dict"
                target="_blank"
              )= t('Več …')
      .file-type.mt-5
        .row.g-0
          .col-md-6.white-border-background.p-4.d-flex.align-items-center
            span.info-text-for-button.me-auto= t('Brisanje slovarja')
            button#adv-delete-dictionary.btn.btn-primary.ps-5.pe-5.advanced-blue-btn= t('BRIŠI')
          .col-sm.ms-xxl-3.ms-md-3.align-items-center.d-flex.ps-1
            span.name-info-txt= t('Izbrišete lahko celoten slovar z vsemi metapodatki. Dejanja ni mogoče preklicati.')
              a.name-info-txt.ms-2(
                href="/pomoc#help-edit-dict"
                target="_blank"
              )= t('Več …')
      .file-type.mt-5
        .row.g-0
          .col-md-6.white-border-background.p-4.d-flex.align-items-center
            span.info-text-for-button.me-auto= t('Objava vseh slovarskih sestavkov')
            button#adv-publish-all-entries.btn.btn-primary.ps-5.pe-5.advanced-blue-btn= t('OBJAVI')
          .col-sm.ms-xxl-3.ms-md-3.align-items-center.d-flex.ps-1
            span.name-info-txt= t('Ko boste končali z urejanjem svojega terminološkega slovarja, lahko objavite vse slovarske sestavke, ki bodo postali vidni vsem uporabnikom. Vaše dejanje mora potrditi še administrator portala.')
      include /common/footer
    include /utilities/modal-spinner
    include /utilities/modal-alert-mixin
    +alertModal("delete-entries", t("Izbriši"), t("Prekliči"), "modal-use-btn", "cancel-btn", t('S tem dejanjem boste izbrisali vse slovarske sestavke v slovarju. Metapodatki bodo ostali. Dejanja ni mogoče razveljaviti.'))
    +alertModal("delete-dictionary", t("Izbriši"), t("Prekliči"), "modal-use-btn", "cancel-btn", t('S tem dejanjem boste izbrisali vse slovarske sestavke v slovarju in vse metapodatke. Dejanja ni mogoče razveljaviti.'))
    +alertModal("publish-entries", t("Uporabi"), t("Prekliči"), "modal-use-btn", "cancel-btn", t('Ali želite objaviti vsa gesla?'))
    include /utilities/modal-response
    +responseModal("delete-entries-res", t("Razumem"), "understand-btn", t("Slovarski sestavki so bili izbrisani."))
    +responseModal("delete-dict-res", t("Razumem"), "understand-btn", t("Slovar je bil izbrisan."))
    +responseModal("publish-entries-res", t("Razumem"), "understand-btn", t("Slovarski sestavki so bili objavljeni."))
