extends /layout

block pageSpecificScipts
  script(nonce=cspNonce src="/javascripts/dictionaries.js")

block body
  section#fixed-top-section
    include /common/main-navigation
    +main-navigation(false)
  include /common/side-menu-mixin-dictionaries
  - const d = { activeLvl1: 'export', activeLvl2: 'export' }
  +sideNavigation(d)

  include /utilities/dictionaries-main-panel-header
  - const c = { sideMenu: true, h2: dictionaryName, h1: 'Izvoz', description: 'Vse podatke, ki ste jih vnesli v svoj slovar, lahko izvozite na svoj računalnik ali drugo želeno mesto. Izbrati morate format, v katerem želite pridobiti podatke.', buttons: [] }
  +mainHeader(c)
  .content-hold-prerequisites
    #offset-main.main-container.mt-2
      .row.validity.align-items-center
        .col-xxl-6.col-md-7
          span.header-table-wrapper Veljavnost
            ul.d-sm-flex.validity-row.ps-2.mb-0.mb-md-2
              .options-width-box
                li.form-check.radio-button.ms-0.ps-3
                  input#allKeys.form-check-input(
                    type="radio"
                    name="flexRadioDefault"
                    checked
                  )
                  label.radio-button-labels.form-check-label.ms-0.text-nowrap(
                    for="allKeys"
                  )
                    | Vsi slovarski sestavki
              .options-another-box
                li.form-check.radio-button.ms-0.ps-3
                  input#validKeys.form-check-input(
                    type="radio"
                    name="flexRadioDefault"
                  )
                  label.radio-button-labels.form-check-label.ms-0(
                    for="validKeys"
                  )
                    | Veljavni
              .options-another-box
                li.form-check.radio-button.ms-0.ps-3
                  input#notValidKeys.form-check-input(
                    type="radio"
                    name="flexRadioDefault"
                  )
                  label.radio-button-labels.form-check-label.ms-0(
                    for="notValidKeys"
                  )
                    | Neveljavni
        .col.mb-3.mb-md-0
          span.name-info-txt Izberite, katere slovarske sestavke želite izpisati glede na njihovo veljavnost.
      .row.posted.align-items-center
        .col-xxl-6.col-md-7
          span.header-table-wrapper Objavljeno
            ul.d-sm-flex.validity-row.ps-2.mb-0.mb-md-2
              .options-width-box
                li.form-check.radio-button.ms-0.ps-3
                  input#allPostedKeys.form-check-input(
                    type="radio"
                    name="posted"
                    checked
                  )
                  label.radio-button-labels.form-check-label.ms-0.text-nowrap(
                    for="allPostedKeys"
                  )
                    | Vsi slovarski sestavki
              .options-another-box
                li.form-check.radio-button.ms-0.ps-3
                  input#onlyPosted.form-check-input(type="radio" name="posted")
                  label.radio-button-labels.form-check-label.ms-0(
                    for="onlyPosted"
                  )
                    | Objavljeni
              .options-another-box
                li.form-check.radio-button.ms-0.ps-3
                  input#notPosted.form-check-input(type="radio" name="posted")
                  label.radio-button-labels.form-check-label.ms-0(
                    for="notPosted"
                  )
                    | Neobjavljeni
        .col.mb-3.mb-md-0
          span.name-info-txt Izberite, ali želite izpisati samo objavljene ali tudi neobjavljene slovarske sestavke.
      .row.phases.align-items-center
        .col-xxl-6.col-md-7
          span.header-table-wrapper Faze urejanja
            ul.d-sm-flex.validity-row.ps-2.mb-0.mb-md-2
              .options-width-box
                li.form-check.radio-button.ms-0.ps-3
                  input#allEditedKeys.form-check-input(
                    type="radio"
                    name="edited"
                    checked
                  )
                  label.radio-button-labels.form-check-label.ms-0.text-nowrap(
                    for="allEditedKeys"
                  )
                    | Vsi slovarski sestavki
              .options-another-box
                li.form-check.radio-button.ms-0.ps-3
                  input#editedKeys.form-check-input(type="radio" name="edited")
                  label.radio-button-labels.form-check-label.ms-0(
                    for="editedKeys"
                  )
                    | Urejeni
              .options-another-box
                li.form-check.radio-button.ms-0.ps-3
                  input#inEditing.form-check-input(type="radio" name="edited")
                  label.radio-button-labels.form-check-label.ms-0(
                    for="inEditing"
                  )
                    | V urejanju
        .col.mb-3.mb-md-0
          span.name-info-txt Izberite, ali želite izpisati vse slovarske sestavke ali samo tiste, ki so v določeni fazi urejanja.
      .row.proffesional-check.align-items-center
        .col-xxl-6.col-md-7
          span.header-table-wrapper Strokovni pregled
            ul.d-sm-flex.validity-row.ps-2.mb-0.mb-md-2
              .options-width-box
                li.form-check.radio-button.ms-0.ps-3
                  input#allChecked.form-check-input(
                    type="radio"
                    name="professionallyChecked"
                    checked
                  )
                  label.radio-button-labels.form-check-label.ms-0(
                    for="allChecked"
                  )
                    | Vsi slovarski sestavki
              .options-another-box
                li.form-check.radio-button.ms-0.ps-3
                  input#onlyProffesionallyChecked.form-check-input(
                    type="radio"
                    name="professionallyChecked"
                  )
                  label.radio-button-labels.form-check-label.ms-0(
                    for="onlyProffesionallyChecked"
                  )
                    | Pregledani
              .options-another-box
                li.form-check.radio-button.ms-0.ps-3
                  input#notProffesionallyChecked.form-check-input(
                    type="radio"
                    name="professionallyChecked"
                  )
                  label.radio-button-labels.form-check-label.ms-0(
                    for="notProffesionallyChecked"
                  )
                    | Nepregledani
        .col.mb-3.mb-md-0
          span.name-info-txt Izberite, ali želite izpisati samo strokovno pregledane slovarske sestavke.
      .row.terminology-check.align-items-center
        .col-xxl-6.col-md-7
          span.header-table-wrapper Jezikovni pregled
            ul.d-sm-flex.validity-row.ps-2.mb-0.mb-md-2
              .options-width-box
                li.form-check.radio-button.ms-0.ps-3
                  input#allGramaticallyChecked.form-check-input(
                    type="radio"
                    name="gramaticallyChecked"
                    checked
                  )
                  label.radio-button-labels.form-check-label.ms-0(
                    for="allGramaticallyChecked"
                  )
                    | Vsi slovarski sestavki
              .options-another-box
                li.form-check.radio-button.ms-0.ps-3
                  input#onlyGramaticallyChecked.form-check-input(
                    type="radio"
                    name="gramaticallyChecked"
                  )
                  label.radio-button-labels.form-check-label.ms-0(
                    for="onlyGramaticallyChecked"
                  )
                    | Pregledani
              .options-another-box
                li.form-check.radio-button.ms-0.ps-3
                  input#notGramaticallyChecked.form-check-input(
                    type="radio"
                    name="gramaticallyChecked"
                  )
                  label.radio-button-labels.form-check-label.ms-0(
                    for="notGramaticallyChecked"
                  )
                    | Nepregledani
        .col.mb-3.mb-md-0
          span.name-info-txt Izberite, ali želite izpisati samo jezikovno pregledane slovarske sestavke.
      .file-type
        span.new-user-info FORMAT ZAPISA
        .row.align-items-center
          .col-xxl-6.col-md-7
            .form-check.radio-button.ms-2.ps-3
              input#file-format-xml.form-check-input(
                type="radio"
                name="importFileFormat"
                value="xml"
                checked
              )
              label.form-check-label.ms-0(for="file-format-xml")
                | XML
            .form-check.radio-button.ms-3
              input#file-format-csv.form-check-input(
                type="radio"
                name="importFileFormat"
                value="csv"
              )
              label.form-check-label.ms-0(for="file-format-csv")
                | CSV
            .form-check.radio-button.ms-3
              input#file-format-tsv.form-check-input(
                type="radio"
                name="importFileFormat"
                value="tsv"
              )
              label.form-check-label.ms-0(for="file-format-tsv")
                | TSV
            .form-check.radio-button.ms-3
              input#file-format-txt.form-check-input(
                type="radio"
                name="importFileFormat"
                value="txt"
              )
              label.form-check-label.ms-0(for="file-format-txt")
                | TXT
          .col.mb-3.mb-md-0
            span.name-info-txt Izberite format izpisa vašega slovarja.
        button.btn.btn-primary.mt-4 IZVOZI
        .latest-exports.mt-4
          .d-flex.w-100.justify-content-between
            .d-flex
              span.info-text-for-button Zadnji izvozi
            .d-flex
              include /utilities/pager
              +pager(1,2,3,1,3,true)
          .d-block.w-100
            include /utilities/table-mixin
        -
          const headerRow = ['Datum', 'Vrsta', 'Št. gesel', 'Status']
          const dataRows = [
            ['12.12.2012', 'Oznaka', 'Št. gesel', 'Oznaka', ""],
            ['12.12.2012', 'Oznaka', 'Št. gesel', 'Oznaka', {button: {content:"Shrani"}}],
            ['12.12.2012', 'Oznaka', 'Št. gesel', 'Oznaka', {button: {content:"Shrani"}}],
            ['12.12.2012', 'Oznaka', 'Št. gesel', 'Oznaka', {button: {content:"Shrani"}}],
            ['12.12.2012', 'Oznaka', 'Št. gesel', 'Oznaka', {button: {content:"Shrani"}}]
          ]
        +tableHeader(headerRow, dataRows)

  include /common/footer
