extends /layout

block pageSpecificScipts
  script(nonce=cspNonce src="/javascripts/admin.js")

block body
  section#fixed-top-section
    include /common/main-navigation
    +main-navigation(false)
  include /common/side-menu-mixin-admin
  - const d = { activeLvl1: 'dictionaries', activeLvl2: 'list' }
  +sideNavigation(d)

  include /utilities/dictionaries-main-panel-header
  - const c = { sideMenu: true, h2: 'Slovarji', h1: 'Seznam slovarjev', description: 'Seznam vseh slovarjev, ki jih uredniki, sicer registrirani uporabniki, urejajo na tem portalu.', buttons: [{ type: 'link', content: 'Dodaj slovar', url: '/slovarji/nov' }] }
  +mainHeader(c)
  .content-hold-prerequisites
    #offset-main.main-container.mt-3
      .d-flex.justify-content-between
        .d-flex.flex-row.mb-4
          include /components/search-and-filter/inline-search
        .d-flex
          include /utilities/pager
          +pager
        -
          const localeOptions = {
            day: '2-digit',
            month: '2-digit',
            year: 'numeric',
            hour: '2-digit',
            minute: '2-digit',
          }  

      .table-responsive
        table.styled-table
          thead
            tr
              th= 'ID'
              th= 'NASLOV'
              th= 'STATUS'
              th= 'USTVARJEN'
              th= 'SPREMENJEN'
              th= ''
          tbody#page-results 
            each result in results
              tr
                each el in result
                  if result.timeCreated===el || result.timeModified===el
                    - const date = new Date(el).toLocaleDateString('sl-SL', localeOptions)
                    td= date
                  else
                    td= el
                td
                  a.image-link(
                    type="link"
                    href=`/admin/slovarji/${result.id}/podatki`
                  )
                    img(src="/images/u_edit-alt.svg" alt="Uredi")
                    span.normal-gray.ms-1 Uredi

  include /common/footer
