extends /layout

block pageSpecificScipts
  script(nonce=cspNonce src="/javascripts/admin.js")

block body
  section#fixed-top-section
    include /common/main-navigation
    +main-navigation(false)
  include /common/side-menu-mixin-admin
  - const d = { activeLvl1: 'connections', activeLvl2: 'list' }
  +sideNavigation(d)
  include /utilities/dictionaries-main-panel-header
  - const c = { sideMenu: true, h2: t('Povezave'), h1: t('Povezave s portali'), description: t('Vnesite podatke terminološkega portala, s katerim želite povezati svoj portal.') }
  +mainHeader(c)
  .content-hold-prerequisites
    #offset-main.main-container.mt-2
      .row
        ul.col-sm-5
          span.smaller-blue-subheading= t('Uredi povezavo')

      form#form-connection-update(method="post")
        .mt-3
          .subject-name
            label.smaller-black-uppercase(for="portal-name")= t('IME PORTALA *')
          .row
            .col-sm-5
              input#portal-name.name-input.form-control.autocomplete.d-inline(
                type="text"
                name="name"
                required
                value=portal.name
              )
            .col-sm.d-flex.align-items-center
              span.d-md-inline.d-block.smaller-gray-info.ms-xxl-3.ms-md-3= t('Vnesite polno ime terminološkega portala, s katerim se povezujete.')

        .mt-5
          .subject-name
            label.smaller-black-uppercase(for="portal-label")= t('OZNAKA PORTALA *')
          .row
            .col-sm-5
              input#portal-label.name-input.form-control.autocomplete.d-inline(
                type="text"
                maxlength="2"
                name="code"
                value=portal.code
                required
              )
            .col-sm.d-flex.align-items-center
              span.d-md-inline.d-block.smaller-gray-info.ms-xxl-3.ms-md-3= t('Unikatna oznaka povezanega terminološkega portala za prikaz na vašem portalu, sestavljena iz dveh črk ali črke in številke.')

        .mt-5
          .subject-name
            label.smaller-black-uppercase(for="index-url")= t('URL za sinhronizacijo slovarjev *')
          .row
            .col-sm-5
              input#index-url.name-input.form-control.autocomplete.d-inline(
                type="text"
                name="url_index"
                required
                value=portal.indexURL
              )
            .col-sm.d-flex.align-items-center
              span.d-md-inline.d-block.smaller-gray-info.ms-xxl-3.ms-md-3= t('URL naslov terminološkega portala, s katerim želimo povezati svoj portal. (API klic)')

        .mt-5
          .subject-name
            label.smaller-black-uppercase(for="update-url")= t('URL za sinhronizacijo slovarskih sestavkov *')
          .row
            .col-sm-5
              input#update-url.name-input.form-control.autocomplete.d-inline(
                type="text"
                name="url_update"
                required
                value=portal.URLupdate
              )
            .col-sm.d-flex.align-items-center
              span.d-md-inline.d-block.smaller-gray-info.ms-xxl-3.ms-md-3= t('URL naslov terminološkega portala, s katerim želimo povezati svoj portal.')

        .mt-5
          .row
            .col-sm-5
            .col-sm.d-flex.flex-column.flex-sm-row.align-items-center.justify-content-center
              a.btn.btn-secondary.w-sm-100(href="/admin/povezave/seznam")= t('Prekliči')
              button.btn.btn-primary.ms-sm-4.mt-2.mt-sm-0(
                type="submit"
                form="form-connection-update"
              )= t('Shrani')

      include /common/footer
