extends /layout

block pageSpecificScipts
  script(nonce=cspNonce src="/javascripts/admin.js")

block body
  section#fixed-top-section
    include /common/main-navigation
    +main-navigation(false)
  include /common/side-menu-mixin-admin
  - const d = { activeLvl1: 'settings', activeLvl2: 'dictionaries' }
  +sideNavigation(d)

  include /utilities/dictionaries-main-panel-header
  - const c = { sideMenu: true, h2: t('Osnovne nastavitve'), h1: t('Slovarji'), description: t('Določite lastnosti terminoloških virov na portalu, zlasti minimalno število sestavkov, ki so pogoj za objavo, možnosti potrjevanja objave novih slovarjev, število različic slovarja, ki jih lahko hrani posamezni uporabnik. Te nastavitve veljajo za vse terminološke vire na portalu.'), buttons: [{ form: 'admin-settings-dict', type: 'disabled', content: t('Shrani') }] }
  +mainHeader(c)
  .content-hold-prerequisites
    #offset-main.main-container.mt-2
      form#admin-settings-dict(method="post") 
        .min-composition
          .subject-name
            label.smaller-black-uppercase(for="min-composition")= t('MINIMALNO ŠTEVILO SLOVARSKIH SESTAVKOV')
          .row
            .col-sm-5
              select#min-composition.name-input.form-control.autocomplete.d-inline.w-25(
                name="minEntriesPerDictionary"
                value=dictionary.minEntriesPerDictionary
              )
                option(
                  value="1"
                  selected=dictionary.minEntriesPerDictionary === '1'
                ) 1
                option(
                  value="20"
                  selected=dictionary.minEntriesPerDictionary === '20'
                ) 20
                option(
                  value="50"
                  selected=dictionary.minEntriesPerDictionary === '50'
                ) 50
                option(
                  value="100"
                  selected=dictionary.minEntriesPerDictionary === '100'
                ) 100
            .col-sm.d-flex.align-items-center
              span.d-md-inline.d-block.smaller-gray-info.ms-xxl-3.ms-md-3= t('Število slovarskih sestavkov, ki jih mora vsebovati slovar, da je omogočena objava slovarja na portalu.')

        .mt-4
          .subject-name
            label.smaller-black-uppercase(for="publish-control")= t('KONTROLA OBJAVE')
          .ms-1.row
            .form-check.form-switch.d-flex.align-items-center.col-sm-5
              if dictionary.dictionaryPublishApproval
                if dictionary.dictionaryPublishApproval === 'T'
                  input#publish-control.form-check-input(
                    type="checkbox"
                    name="dictionaryPublishApproval"
                    checked
                  )
                else
                  input#publish-control.form-check-input(
                    type="checkbox"
                    name="dictionaryPublishApproval"
                  )
              label.form-check-label.normal-gray-label.ms-3(
                for="publish-control"
              )= t('Kontrola objave')
            .col-sm.d-flex.align-items-center.ps-0
              span.smaller-gray-info.ms-xxl-3.ms-md-3= t('Za prvo objavo slovarja je potrebno dovoljenje skrbnika slovarjev.')

        .mt-4
          .subject-name
            label.smaller-black-uppercase(for="max-composition-count")= t('MAKSIMALNO ŠTEVILO KOPIJ SLOVARSKIH SESTAVKOV')
          .row
            .col-sm-5
              input#max-composition-count.name-input.form-control.autocomplete.d-inline.w-25(
                type="text"
                maxlength="6"
                name="numOfHistoryEntriesPerEntry"
                value=dictionary.numOfHistoryEntriesPerEntry
              )
            .col-sm.d-flex.align-items-center
              span.d-md-inline.d-block.smaller-gray-info.ms-xxl-3.ms-md-3= t('Število zadnjih kopij spremenjenih slovarskih sestavkov, ki se hranijo. Če vrednost ni določena, omejitve ni.')

        .mt-4
          .row
            .subject-name.col-sm-5
              label.smaller-black-uppercase= t('MOŽNOST OBJAVE SLOVARSKEGA SESTAVKA MED UREJANJEM')
          .d-grid
            .ms-1.d-sm-flex.row
              .form-check.form-switch.d-flex.align-items-center.col-sm-5
                if dictionary.canPublishEntriesInEdit
                  if dictionary.canPublishEntriesInEdit === 'T'
                    input#in-editing.form-check-input(
                      type="checkbox"
                      name="canPublishEntriesInEdit"
                      checked
                    )
                    label.form-check-label.normal-gray-label(for="in-editing")= t('Objava med urejanjem')
                  else
                    input#in-editing.form-check-input(
                      type="checkbox"
                      name="canPublishEntriesInEdit"
                    )
                    label.form-check-label.normal-gray-label(for="in-editing")= t('Objava med urejanjem')
              .col-sm.d-flex.align-items-center
                span.d-md-inline.d-block.smaller-gray-info.ms-md-2= t('Poleg objave slovarskega sestavka v fazi "Urejeno" je omogočena tudi objava v fazi "V urejanju".')
      include /common/footer
  include /utilities/modal-alert-mixin
  +alertModal('unsaved-data', t('Shrani'), t('Ne'), 'modal-save-btn', 'modal-dont-save-btn', t('Imate neshranjene spremebe. Ali jih želite shraniti?'))
