extends /layout

block pageSpecificScipts
  script(nonce=cspNonce src="/javascripts/admin.js")

block body
  section
    #fixed-top-section
      include /common/main-navigation
      +main-navigation(false)
  include /common/side-menu-mixin-admin
  - const d = { activeLvl1: 'users', activeLvl2: 'list' }
  +sideNavigation(d)

  include /utilities/dictionaries-main-panel-header
  - const c = { sideMenu: true, h2: t('Uporabniki'), h1: t('Seznam'), description: t('Na seznamu uporabnikov lahko določite posameznemu uporabniku dodatne vloge ali urejate njihove podatke.') }
  +mainHeader(c)
  .content-hold-prerequisites.mt-4
    #offset-main.main-container.mt-4
      .table-full
        .d-flex.w-100.justify-content-end.mb-4
          .d-flex
            include /utilities/pager
            +pager

        .table-responsive
          table.styled-table
            thead
              tr#thead
                th= t('Uporabniško ime')
                th= t('E - naslov')
                th= t('Potrjen')
                th= ''
            tbody#page-results
              each result in results
                tr
                  td= result.userName
                  td= result.email
                  td= t(`userStatus${result.status}`)
                  td
                    a.image-link(
                      type="link"
                      href=`/admin/uporabniki/${result.id}/urejanje`
                    )
                      img(src="/images/u_edit-alt.svg" alt=t('Uredi'))
                      span.normal-gray.ms-1= t('Uredi')

      include /common/footer
