p Ime in primek: #{ nameAndSurname }
  br
  span E-naslov: #{ email }
  br
  span Institucija: #{ institution }
  br
  br
  span Področje: #{ domain }

p
  b Opis teminološkega problema:
  br
  span #{ question }

p
  b Morebitne že obstoječe poimenovalne rešitve:
  br
  span #{ existingSolutions }

p
  b Morebitni primeri rabe termina v besedilih ali povezave do njih:
  br
  span #{ examplesOfUse }
