mixin dictionary-extraction-import
  .content-hold-prerequisites
    #offset-main.main-container.mt-3
      .small-name-area
        .subject-name
          span.input-name-txt= t('IME LUŠČENJA')
        .row
          .col-lg-6
            select#select-extraction-name.name-input.d-inline.form-control
              option(selected value="" disabled hidden)= t('Izberite luščenje')
              each el in extractions
                option(value=el.id)= el.name
          .col-sm.d-flex.align-items-center
            span.name-info-txt.ms-lg-3.mt-2.mt-lg-0= t('Izberite enega od rezultatov luščenja s seznama.')
      .list-terminology-candidates.mt-4.me-2.d-none
        .d-flex.w-100.justify-content-between
          .d-flex.align-items-center
            span.info-text-for-button= t('Seznam terminoloških kandidatov')
          .d-flex
            include /utilities/pager
            +pager
        .table-responsive.mt-2.me-2
          table.styled-table
            thead
              tr#thead
                th= t('#')
                th= t('KANONIČNA OBLIKA')
                th= t('UTEŽ')
                th= t('POJAVITVE')
            tbody#page-results
        form#import-form(method="post")
          .row.mt-4
            .me-0.pe-0.d-flex.align-items-center
              span.radio-button-labels= t('Uvozi termine od številke')
              input.without-arrows.form-control.terminology-input.ms-1(
                type="number"
                maxlength="5"
                name="from"
                min="0"
              )
              span.radio-button-labels.ms-1= t('do številke')
              input.without-arrows.form-control.terminology-input.ms-1(
                type="number"
                maxlength="5"
                name="to"
                min="0"
              )
          button#import-btn.btn.btn-primary.mt-4(disabled)= t('UVOZI')

      include /common/footer

      script#variables-transport-script(nonce=cspNonce).
        const dictionaryId = #{ dictionary.id };
        document.getElementById('variables-transport-script').remove();
