h1= t('helpPageTitleHelp', { ns: 'extended' })

h2#help-general= t('helpPageTitleAbout', { ns: 'extended' })

p Terminološki portal je storitev, ki je bila razvita v okviru projekta #[a(href="https://www.slovenscina.eu/" target="_blank") Razvoj slovenščine v digitalnem okolju].
p Storitev iskanja po terminološkem portalu je uporabnikom na voljo brez registracije. Za uporabo drugih storitev - #[a(href="/luscenje" target="_blank") luščenja], #[a(href="/slovarji/moji" target="_blank") urejanja] terminoloških slovarjev, komentiranje in zastavljanje terminoloških vprašanj v #[a(href="/svetovanje" target="_blank") svetovalnici] pa je ob prvem obisku potrebna registracija, ob vseh naslednjih pa prijava. Registrirate ali prijavite se lahko se lahko na prvi strani portala desno zgoraj (zavihek Prijava). Terminološki portal upravljajo sodelavci podjetja #[a(href="https://amebis.si" target="_blank") Amebis] in #[a(href="https://isjfr.zrc-sazu.si/sl/terminologisce" target="_blank") Terminološke sekcije Inštituta za slovenski jezik ZRC SAZU], ki vam bodo odgovorili tudi na vprašanja, ki jih boste zastavili na #[a(href="mailto:info@terminoloski.slovenscina.eu") info@terminoloski.slovenscina.eu].

p Razvoj terminološkega portala sta koordinirala #[a(href="mailto:info@terminoloski.slovenscina.eu") Mateja Jemec Tomazin] in #[a(href="mailto:info@terminoloski.slovenscina.eu") Miro Romih].

p Pri izdelavi terminološkega portala in vzorčnih zbirk na Slovenskem terminološkem portalu so sodelovali sodelavci naslednjih raziskovalnih ustanov in podjetij:
p #[a(href="https://amebis.si" target="_blank") Amebis]: Miro Romih, Anton Romšak, Luka Romih, Jure Artiček, Miha Stele, Aljaž Grilc
p #[a(href="https://www.zrc-sazu.si/sl" target="_blank") ZRC SAZU]: Mateja Jemec Tomazin, Simon Atelšek, Tanja Fajfar, Karmen Nemec, Jera Sitar, Mitja Trojar, Mojca Žagar Karer
p #[a(href="https://kt.ijs.si/" target="_blank") Institut Jožef Stefan]: Senja Pollak, Hanh Thi Hong Tran, Vid Podpečan, Matej Martinc, Andraž Repar, Marko Pranjić, Nada Lavrač, Andraž Pelicon, Tomaž Erjavec
p #[a(href="https://www.ff.uni-lj.si/" target="_blank") UL FF]: Špela Vintar
p #[a(href="https://www.fri.uni-lj.si/sl" target="_blank") UL FRI]: Boštjan Slivnik, Danijel Skočaj, Marko Robnik Šikonja, Vladimir Batagelj (sicer UL FMF), Ivan Bratko, Peter Rogelj (sicer UP FAMNIT)
p #[a(href="https://www.fu.uni-lj.si/" target="_blank") UL FU]: Polonca Kovač, Maja Klun, Jernej Podlipnik (sicer odvetnik in predavatelj), Andreja Kostelec (sicer samostojna raziskovalka in predavateljica), Nika Hudej (sicer svetovalka US RS)
p #[a(href="https://feri.um.si/" target="_blank") UM FERI]: Marko Ferme, Kristjan Žagar, Ivan Kovačič, Klemen Kac, Milan Ojsteršek, Damjan Strnad, Matjaž Divjak, Marko Bizjak, Matjaž Debevec, Ines Kožuh, Irena Lovrenčič Držanič

h3#help-registration= t('helpPageTitleRegistration', { ns: 'extended' })

p Registrirate se lahko na prvi strani portala #[a(href="/" target="_blank") desno zgoraj]. Vnesti morate veljavni elektronski naslov, na katerega boste dobili povezavo za potrditev računa. Če povezave niste dobili, preverite tudi vsiljeno pošto.

p Vaša registracija bo veljavna, ko boste potrdili, da ste se seznanili s #[a(href="/politika-zasebnosti" target="_blank") Politiko zasebnosti] in sprejeli #[a(href="/pogoji-uporabe" target="_blank") Pogoje uporabe].

h2#help-search= t('helpPageTitleSearchIndex', { ns: 'extended' })

h3#help-basic-search= t('helpPageTitleSearchBasic', { ns: 'extended' })

p Uporabnik lahko z vpisom iskalnega pogoja v iskalno okno išče po terminih ali delih terminov, ki ga zanimajo. Z vnosom iskalnega niza in potrditvijo se bodo prikazali zadetki, ki ustrezajo iskalnemu pogoju. Zadetki so razvrščeni tako, da so najprej prikazani popolni zadetki med iztočnicami, sledijo zadetki, ki ustrezajo delu iztočnice in nato zadetki, ki so v drugem delu slovarskega sestavka. Vsi slovarski sestavki, ki so vključeni v terminološki portal, imajo termin v slovenščini. Nekateri imajo dodan termin v tujem jeziku ali definicijo, nekateri pa oboje in še druge povezane podatke.

p Iskalni pogoj lahko sestavlja niz črk in znak *, ki nadomešča poljubno število znakov. Terminološki portal je povezan tudi s terminološkimi slovarji na spletišču #[a(href="https://isjfr.zrc-sazu.si/sl/terminologisce" target="_blank") Terminologišče], ki ga upravlja #[a(href="https://isjfr.zrc-sazu.si/sl" target="_blank") Inštitut za slovenski jezik Frana Ramovša ZRC SAZU], ter terminološkimi slovarji na slovarskem portalu #[a(href="https://www.termania.net" target="_blank") Termania], ki ga upravlja podjetje #[a(href="https://www.amebis.si/" target="_blank") Amebis].

p Seznam zadetkov vsebuje termin, oznako za definicijo, če jo zadetek ima, in izpisane termine v vseh tujih jezikih. Termini so izpisani v krepkem tisku, njihovi sinonimi pa v navadnem tisku. S klikom na posamezni termin se odpre celoten slovarski sestavek.

p Slika:
img(src="/images/Iskalni_zadetki.png" alt="Iskalni zadetki") 

p Filtri omogočajo dodatno razvrščanje zadetkov po #[b jezikih], #[b področjih], #[b slovarjih] in tudi #[b viru], če želite preveriti zadetke povezanega termiološkega portala.

p Slika:
img(src="/images/Filtri.png" alt="Filtri") 

h3#help-advanced-search= t('helpPageTitleSearchAdvanced', { ns: 'extended' })

p Napredno iskanje se odpre s klikom na puščico na desnem robu iskalnega okna. Poleg iskalnega niza se lahko v spustnem meniju izbere še jezik iskanja (pri čemer bodo termini v tujih jezikih navedeni v skupini #[i ISKANI NIZ JE BIL NAJDEN #[b V DRUGI VSEBINI] SLOVARSKIH SESTAVKOV]), ciljni jezik, področje, slovar in tudi vir.

p S pritiskom na štiri majhne kvadratke se odpre polje s posebnimi znaki.

p Slika:
img(src="/images/Napredno_iskanje.png" alt="Napredno iskanje") 

h2#help-extraction= t('helpPageTitleExtractionIndex', { ns: 'extended' })

p Vsak začetek terminološkega dela je povezan z zbiranjem besedil s posameznega strokovnega področja. Za strojno obdelavo so najprimernejša gola besedila, torej v formatu .txt. Na osnovi različnih zbranih besedil se oblikuje specializirani korpus, ki je osnova za luščenje terminoloških kandidatov, torej besed in besednih zvez, ki so v primerjavi s splošnim jezikom značilne za izbrano strokovno področje in so primerne za oblikovanje terminološkega vira. Luščenje na terminološkem portalu lahko uporabljajo samo registrirani uporabniki. Luščenje terminoloških kandidatov poteka na oddaljenem strežniku, uporabnik pa je o uspešno zaključenem luščenju obveščen po elektronski pošti. Vsak registrirani uporabnik lahko shrani do 5 lastnih uporabniških korpusov in rezultatov luščenja.

h3#help-specialized-corpuses= t('helpPageTitleExtractionSpecializedCorpora', { ns: 'extended' })

p Specializirani korpusi so zbirke besedil, ki sodijo na določeno strokovno področje in jih sestavljajo strokovna besedila, ki so uravnotežena po zvrsteh. Za terminološke vire praviloma izbiramo sodobna besedila. Najprimernejša besedilna zvrst za luščenje terminoloških kandidatov so učbeniki, saj imajo načeloma sistematično vključeno potrebno področno terminologijo in zelo pogosto vsebujejo tudi definicije. Ostale besedilne zvrsti, od zaključnih del, zlasti doktorskih disertacij, magistrskih del, tudi diplomskih del, do znanstvenih monografij in znanstvene periodike, so seveda potrebne in zaželene, se pa je treba zavedati, da so lahko precej ožje specializirane in lahko vsebujejo temu primerno manj raznoliko področno terminologijo. Uporabnik mora zato poskrbeti, da izbrana besedila obravnavajo vsa strokovna področja in podpodročja, ki bi jih radi vključil v slovar. Če nimamo lastnih besedil, lahko poiščemo besedila tudi v korpusu OSS, pri čemer moramo izbrati področje, navadno pa tudi ključne besede, vrsto dokumentov in leto izida, da zamejimo število zadetkov in s tem dobimo natančnejše rezultate.

h3#help-my-corpuses= t('helpPageTitleExtractionPersonalCorpus', { ns: 'extended' })

p Besedila lahko zbere tudi uporabnik sam in ne uporabi besedil, ki so že predhodno jezikoslovno označena in so vključena v korpus OSS. Svetujemo, da so vsa besedila shranjena v besedilnem formatu (.txt), ker so rezultati luščenja veliko boljši. Pri drugih formatih, zlasti pri (.pdf), lahko pride do napak pri pretvorbi v golo besedilo, zato se luščenje prekine. Tudi pri lastnem uporabniškem korpusu je treba zagotoviti vsebinsko pokritost področja, na tak način se lahko dopolni terminologija, za katero uporabnik oceni, da je v korpusu OSS ni, vendar jo je treba vključiti v terminološki vir, ki ga ureja.

h3#help-corpus-oss= t('helpPageTitleExtractionOssCorpus', { ns: 'extended' })

p Korpus OSS združuje vsa besedila, ki so dostopna na #[a(href="https://openscience.si/" target="_blank") Nacionalnem portalu odprte znanosti]. Prednost korpusa je, da so vsa besedila že jezikoslovno označena in segmentirana, zato je postopek luščenja terminoloških kandidatov hitrejši. V korpus OSS so vključeni tudi metapodatki o besedilih, zlasti področje, vrsta besedila, leto izida in ključne besede, kar uporabniku omogoča ožanje nabora besedil. Po korpusu OSS lahko uporabniki iščejo tudi v konkordančnikih, dostopnih na #[a(href="https://www.clarin.si/info/konkordance/" target="_blank") Clarin.si].

h3#help-stop-lists= t('helpPageTitleExtractionStopTerms', { ns: 'extended' })

p Luščenje bo lahko bolj učinkovito, če bo uporabnik pripravil tudi seznam neželenih besed, t. i. "stop sezname". Nanje je smiselno uvrstiti splošne termine, npr. #[i poročilo], #[i tabela], #[i količnik], ali termine, ki se zaradi svoje temeljnosti v vsakem primeru uvrščajo v terminološki vir, zato bi bili na vrhu seznamov, uporabnika pa zanimajo manj pogosti termini.

h3#help-extraction-areas= t('helpPageTitleExtractionDomains', { ns: 'extended' })

p Klasifikacija področij na terminološkem portalu je pripravljena posebej za Slovenski terminološki portal, vendar temelji na dveh uveljavljenih klasifikacijah, in sicer #[a(href="https://www.arrs.si/sl/gradivo/sifranti/sif-cerif-cercs.asp" target="_blank") Evropski klasifikaciji raziskovalne dejavnosti CERIF] ter klasifikaciji #[a(href="https://eur-lex.europa.eu/browse/eurovoc.html?locale=sl" target="_blank") Eurovoc]. Za lažjo izbiro področja smo pripravili tabelo, ki omogoča pretvorbo med klasifikacijami.

p #[a(href="pomoc/pdf" target="_blank") Tabela]

h3#help-terminology-candidates= t('helpPageTitleExtractionTermCandidates', { ns: 'extended' })

p Uporabnik po končanem luščenju dobi obvestilo na e-naslov, ki ga je vnesel ob registraciji, da se je postopek končal. Rezultat luščenja je seznam besed in besednih zvez, ki so v izbranih besedilih v primerjavi s splošnim jezikom značilne in se imenujejo terminološki kandidati. Na kakovost luščenja vplivajo izbrana besedila in tudi seznami s stop termini, s katerimi aplikacija izloči tiste termine ali besede, ki so uvrščene na seznam. S čim bolj natančno pripravljenim seznamom lahko izboljšate seznam izluščenih terminoloških kandidatov. Svetujemo vam, da sezname shranite v obliki .txt.

h2#help-editor= t('helpPageTitleEditingIndex', { ns: 'extended' })

p Urejanje je storitev, v kateri lahko registrirani uporabnik sam tvori nove terminološke vire. Ureja lahko seznam terminoloških kandidatov, ki jih uvozi iz #[a(href="/luscenje" target="_blank") luščilnika] po koncu luščenja ali pripravi svoj seznam terminov ter ga uvozi v urejevalnik. Pred začetkom mora izpolniti nekatere podatke o slovarju, da lahko začne z delom. Slovar lahko ureja sam ali pa k delu povabi še druge registrirane uporabnike.
p Pri oblikovanju novih terminoloških virov si lahko uporabnik pomaga s #[a(href="pomoc/pdf" target="_blank") Smernicami za samotojno izdelavo terminoloških virov].

h3#help-new-dict= t('helpPageTitleEditingNewDictionary', { ns: 'extended' })

p Z izbiro gumba Nov slovar se odpre stran za vnos osnovnih podatkov o slovarju. Obvezna polja so označena z zvezdico. Področja je mogoče izbrati na spustnem seznamu. Če se vam zdi področje preširoko, lahko dodate tudi podpodročje. Tudi podpodročja so na voljo v spustnem seznamu, zato svetujemo, da najprej preverite, ali je že zapisano, sicer pa bo administrator portala potrdil vaš na novo zapisani predlog. Zanesljivost terminološkega vira se poveča tudi z vpisanimi metapodatki, zato svetujemo, da izpolnite vsa polja in na kratko opišete vsebino in način dela. Z izbiro sestavin slovarskega sestavka lahko vidite, katera polja bodo na voljo v urejevalniku.

h3#help-edit-dict= t('helpPageTitleEditingDictionaryProperties', { ns: 'extended' })

p Odpre se navigacijsko okno in polja, kamor je treba vnesti nekaj metapodatkov. Bolj dokumentirani viri so bolj zanesljivi, zato svetujemo, da izpolnite vsa polja.

p V zavihku Napredno lahko uporabnik izbriše tudi vse dotlej izdelane slovarske sestavke in ohrani metapodatke, lahko pa izbirše tudi celoten slovar. Obe dejanji sta nepovratni.

p Objava slovarskih sestavkov pomeni, da se pošlje obvestilo administratorju portala, ki preveri in, če vir ustreza formalnim zahtevam (ali imajo vsi slovarski sestavki termin v slovenskem jeziku in še definicijo in/ali ustreznik v vsaj enem tujem jeziku), objavi slovarske sestavke.

h3#help-users-dict= t('helpPageTitleEditingUsers', { ns: 'extended' })

p Poleg osnovnih podatkov o slovarju v zavihku Uporabniki lahko dodamo nove sodelavce in jim dodelimo uporabniške vloge. Registrirani uporabnik, ki odpre nov slovar, pridobi vse pravice urejanja in spreminjanja. Uporabniki, ki imajo pravico #[i urejanja], lahko spreminjajo skoraj vse podatke, ne morejo pa slovarja izbrisati. Uporabniki, ki imajo pravico strokovno in jezikovno pregledovati, lahko spreminjajo samo podatke v definiciji in pri ustreznikih. Različne pravice spreminjanja in urejanja slovarja olajšajo sledljivost sprememb in sprejemanje odločitev. V istem zavihku z izbiro gumba #[i Slovar odprt] določimo in hkrati pošljemo sporočilo administratorju, da želimo slovar objaviti.

h3#help-structure-dict= t('helpPageTitleEditingStructure', { ns: 'extended' })

p Z izbiro sestavin slovarskega sestavka lahko vidite, katera polja bodo na voljo v urejevalniku. Obvezne sestavine so termin v slovenskem jeziku in vsaj še definicija v slovenskem jeziku ali ustreznik v enem tujem jeziku. Vsak slovar mora imeti torej najmanj dve vrsti podatkov. Na voljo je več možnosti, pri čemer je smiselno, da imajo izbrane sestavine, npr. ustreznike v hrvaščini, pretežno vsi vključeni slovarski sestavki, saj je tako slovar bolj zanesljiv.

p Poleg termina v slovenščini in definicije lahko dodate področne oznake, ki jih določite pred začetkom urejanja, seveda pa dopolnite lahko tudi pozneje med urejanjem. Pojasnila, npr. časovna, področna, je smiselno dodajati samo določenim terminom.

h3#help-comments-dict= t('helpPageTitleEditingComments', { ns: 'extended' })

p Komentiranje je namenjeno sporazumevanju med avtorji slovarja, dokler se slovar izdeluje, pozneje pa tudi komunikaciji med uporabniki in avtorji. Vsak uporabnik, ki je administrator slovarja, se lahko odloči, ali bodo komentarji vidni vsem uporabnikom portala ali le avtorjem slovarja.

h3#help-content-dict= t('helpPageTitleEditingDictionaryContent', { ns: 'extended' })

p Osrednji del urejevalnika je stran s polji za vnos podatkov v slovarskem sestavku. Dokler ni izpolnjen pogoj vnosa dveh vrst podatkov, urejevalnik sporoča, da je slovarski sestavek neveljaven.

p Slika:
img(src="/images/Neveljavno.png" alt="Neveljavno")

h3#help-import-dict= t('helpPageTitleEditingImportingData', { ns: 'extended' })

p Shranjeni seznam terminoloških kandidatov lahko tudi uvozite v zavihku Uvoz iz datoteke. Če imate seznam terminov že shranjen, morate preveriti, ali je v enem od ustreznih formatov. Pri tem lahko tudi izbrišete vse slovarske sestavke, ki ste jih uredili dotlej. Če želite termine samo dodati obstoječim slovarskim sestavkom, preverite, da niste označili #[i Izbriši obstoječe slovarske sestavke].

p Terminološke kandidate lahko uvozite tudi iz luščilnika, pri čemer morate izbrati ustrezno luščenje in zapisati, katere od vseh izluščenih kandidatov želite vključiti.

h3#help-content-add= t('helpPageTitleEditingEntriesIndex', { ns: 'extended' })

p Nov slovarski sestavek dodamo z izbiro gumba #[b Nov]. Če podatkov ne shranimo in takoj izberemo gumb Nov, se vnos ne shrani. Izpolnimo vsa polja, ki smo jih izbrali. Dokler nista izpolnjeni vsaj dve vrsti podatkov, bodo slovarski sestavki označeni kot neveljavni.

h4#help-content-domains= t('helpPageTitleEditingEntriesDomainLabels', { ns: 'extended' })

p Področne oznake so namenjene podrobnejšemu razvrščanju pojmov v manjše pojmovne skupine in niso obvezne, svetujemo jih pri slovarjih, ki obsegajo večjo količino terminov, npr. prek 1000. Področne oznake so povsem poljubne in jih avtorji lahko oblikujejo po svojih željah za vsak slovar posebej.

h4#help-content-label= t('helpPageTitleEditingEntriesLabel', { ns: 'extended' })

p Pojasnilo je namenjeno zapisu okoliščin, ki sicer niso del pojma, olajšajo pa umestitev pojma. Takšna so npr. časovna pojasnila (#[i do leta 2007], #[i v 19. stoletju], #[i med letoma 1988 in 1992] in natančnejša področna pojasnila (#[i v kazenskem procesnem pravu], #[i v biodinamični pridelavi], #[i pri reševanju na vodi]).

h4#help-content-def= t('helpPageTitleEditingEntriesDefinition', { ns: 'extended' })

p Definicija umesti pojem v pojmovni sistem in določi nadrejeni pojem ali pojmovno skupino, npr. vse davke opisujemo na enak način in začnemo definicijo z #[i davek], nato pa opišemo značilnosti pojma v razmerju do drugih pojmov v skupini, zlasti osnovne značilnosti in razlike, npr. #[i davek na zapuščino] je davek, ki obdavčuje prenos premoženja umrle osebe na pravne naslednike.

h4#help-content-syn= t('helpPageTitleEditingEntriesSynonyms', { ns: 'extended' })

p V nekaterih primerih za en pojem obstajata dve poimenovanji, v nekaterih primerih celo več, zato jih je smiselno zabeležiti. Kljub vsemu pa je to podatek, povezan s pojmom, zato je zapisan pri osnovnem pojmu. Za #[i dokazno sredstvo] se v slovenščini uporabljata tudi termina #[i dokaz] in #[i dokazilo], zato sta zapisana kot sinonimni poimenovanji pri #[i dokaznem sredstvu].

h4#help-content-links= t('helpPageTitleEditingEntriesRelatedTerms', { ns: 'extended' })

p Pri oblikovanju pojmovnega sistema zabeležimo tudi termine, ki označujejo sorodni pojem, na katerega želimo opozoriti, zato jih izberemo iz nabora že urejenih slovarskih sestavkov. Za razliko od sinonimov, ki jih lahko vpisujemo prosto, morajo povezani termini biti samostojni slovarski sestavki. Tako npr. lahko povežemo vse vrste davkov, vsa gasilna sredstva, vse vrste odločb ipd. Pri vključevanju povezav je treba pomisliti na uporabnika, ki vsebine predstavljenega strokovnega področja ne pozna tako dobro, zato je treba premisliti, katere termine želimo povezati in tako omogočiti popolnejšo informacijo, ne pa zgolj dodajati povezav, zlasti če niso na istih ravneh.

h4#help-content-flang= t('helpPageTitleEditingEntriesOtherLanguages', { ns: 'extended' })

p V tujem jeziku lahko poleg ustreznika zapišemo tudi definicijo in morebitne znane tuje sinonime. Praviloma kot ustreznik izberemo najpogostejši tuji termin, druge, manj pogoste, pa navedemo kot sinonime v tujem jeziku. Definicija naj bi ustrezala definiciji v slovenščini. Če je povsem drugačna, zlasti, če je citirana iz drugega vira, lahko povzroči dvom o samem pojmu, zato svetujemo, da dodatne informacije, npr. definicije iz drugih virov, citate, navedete v polju Drugo.

h4#help-content= t('helpPageTitleEditingEntriesOther', { ns: 'extended' })

p V ta del lahko vključite vse dodatne podatke o terminu in pojmu, npr. primere rabe, vir, od koder ste črpali definicije, morebitne pomisleke. Polje ima namenoma odprto vsebino, da ga lahko uporabijo vsi, ki so v strukturi pogrešali namenski prostor za informacijo, ki so jo želeli vključiti.

h4#help-content-history= t('helpPageTitleEditingEntriesEditingHistory', { ns: 'extended' })

p Proces urejanja slovarja je postopek, ki traja več časa. Odločitve, ki jih sprejmemo, se lahko tudi spremenijo in pogosto ponovno povrnejo na začetno stanje. Urejevalnik nudi vpogled v pretekle shranjene različice. Z izbiro datuma v zaviku urejanje lahko opazujemo spremembe. Uporabnik lahko opazuje do 10 shranjenih različic posameznega slovarskega sestavka. Ko shrani naslednjo, se najstarejša različica izbriše. Popravki in spremembe slovarskega sestavka so shranjeni samo, če pritisnemo na gumb Shrani.

h4#help-content-comments= t('helpPageTitleEditingEntriesComments', { ns: 'extended' })

p Komentiranje je namenjeno sporazumevanju med avtorji slovarja. V komentarjih pri posameznem terminu si lahko zapišejo pomisleke in predlagajo rešitve, kar je uporabno zlasti v primerih, ko skupina avtorjev sodeluje na daljavo. Po odprtju slovarja javnosti lahko komentarje pošiljajo tudi drugi uporabniki. Avtorji se lahko odločijo, ali bodo objavili celotno komunikacijo ali samo osnovno vprašanje in končni odgovor.

h3#help-export-dict= t('helpPageTitleEditingEntriesDataExport', { ns: 'extended' })

p Shranjeni seznam urejenih slovarskih sestavkov lahko tudi izvozite v zavihku Izvoz. Pri tem lahko izberete vse slovarske sestavke ali pa samo nekatere, npr. samo tiste, ki so veljavni, ki so strokovno ali jezikovno pregledani, urejeni oz. njihove različne kombinacije. Izbirate lahko med več formati izvoza, in sicer .xml, .csv, .tsv in .txt. Shranite lahko do pet izvozov posameznega terminološkega vira.

h2#help-consulting= t('helpPageTitleConsultancyIndex', { ns: 'extended' })

p V svetovalnici so zbrani vsi odgovori na terminološka vprašanja, ki so objavljeni v #[a(href="https://isjfr.zrc-sazu.si/sl/terminologisce/svetovanje" target="_blank") Terminološki svetovalnici]. Nova terminološka vprašanja pa lahko zastavijo registrirani uporabniki. Terminološko svetovanje lahko pomaga pri terminoloških problemih na področjih, kjer še ni izdelanih slovarskih virov, ali pa odgovora v njih ne najdemo, ker so se pojavili novi pojmi, nove metode ipd. Svetovanje izvajajo sodelavci #[a(href="https://isjfr.zrc-sazu.si/sl/terminologisce" target="_blank") Terminološke sekcije Inštituta za slovenski jezik Frana Ramovša ZRC SAZU]. Terminološki odgovor boste prejeli tudi na e-naslov, ki ste ga navedli ob registraciji.

h3#help-consult-questions= t('helpPageTitleConsultancyQuestions', { ns: 'extended' })

p Pri postavljanju vprašanj o najprimernejšem terminu so zelo pomembni posredovani podatki. Dovolj podatkov o terminološkem problemu omogoči svetovalcem, da svetujejo, katera rešitev bi bila najbolj ustrezna z vidika terminološke vede. Zato je zelo pomembno, da pri zastavljanju vprašanja v obrazec vnesete čim več podatkov o terminu, predvsem kaj ta označuje na določenem strokovnem področju, zelo koristni pa so tudi podatki o besedilih, v katerih se pojavlja, morebitne že obstoječe poimenovalne rešitve (ko več terminov označuje isti pojem), tujejezični ustrezniki itd.

h3#help-consult-principles= t('helpPageTitleConsultancyTerminologyPrinciples', { ns: 'extended' })

p Najpomembnejše terminološko načelo je #[b načelo ustaljenosti], po katerem ima prednost termin, ki se v strokovnih in znanstvenih besedilih najpogosteje uporablja; drugo pomembno terminološko načelo je #[b načelo gospodarnosti], po katerem imajo prednost krajši termini; tretje terminološko načelo je #[b načelo jezikovnosistemske ustreznosti], kar pomeni, da ima prednost termin, ki ga lahko umestimo v celotni jezikovni sistem. Pomembno je tudi #[b jezikovnokulturno načelo], po katerem imajo prednost termini domačega izvora pred tujkami. Terminološka načela niso namenjena temu, da bi jih uporabljali mehanično, zato je vedno treba premisliti, kateremu terminološkemu načelu dati prednost v konkretnem terminološkem problemu.

h3#help-consult-link= t('helpPageTitleConsultancyLink', { ns: 'extended' })

p V terminološko vprašanje vključite tudi morebitne spletne povezave, kjer je uporabljen termin, po katerem sprašujete. Zlasti koristna so besedila, kjer je termin definiran ali predstavljen v tipični rabi.

h3#help-consult-answers= t('helpPageTitleConsultancyAnswers', { ns: 'extended' })

p Odgovor bo objavljen v Terminološki svetovalnici Inštituta za slovenski jezik Frana Ramovša ZRC SAZU in prikazan tudi na Slovenskem terminološkem portalu. Na e-naslov, ki ste ga navedli ob registraciji, boste prejeli odgovor, preden bo objavljen in prikazan javno.

h2#help-administration= t('helpPageTitleAdministrationIndex', { ns: 'extended' })

p Portal je administriran. Sledi opis funkcij in pravic, ki jih ima administrator in njegovi sodelavci. Uporabniki terminološkega portala, ki nimajo teh pooblastil, zavihka Administracija ne vidijo.

h3#help-administration-settings= t('helpPageTitleAdministrationBasicSettingsIndex', { ns: 'extended' })

p Administratorski del portala omogoča dodeljevanje pooblastil izbranim uporabnikom, ki jih administrator določi za skrbnike slovarjev ter skrbnike svetovalnice. Skrbnik slovarjev lahko dovoljuje objavo podatkov na zunanjem delu portala, dodaja uporabnike, kar je sicer pravica urednika posameznega terminološkega vira, dodaja opise in komunicira z uredniki posamznega terminološkega vira. Skrbnik svetovalnice na portalih, ki niso povezani s Terminološko svetovalnico ISJFR ZRC SAZU, dodeluje prispela terminološka vprašanja posameznim svetovalcem in jih objavlja na zunanjem delu portala.

h4#help-administration-settings-portal= t('helpPageTitleAdministrationBasicSettingsPortal', { ns: 'extended' })
p Svoj portal morate poimenovati in o njem napisati nekaj osnovnih značilnosti, ki se bodo prikazovale na naslovni strani portala. Dvočrkovna oznaka je namenjena izmenjavi podatkov z drugimi portali in prepoznavanju virov. Slovenski terminološki portal nosi oznako TP.

h4#help-administration-settings-dictionaries= t('helpPageTitleAdministrationBasicSettingsDictionaries', { ns: 'extended' })
p v tem zavihku lahko določite lastnosti terminoloških virov na portalu, zlasti minimalno število sestavkov, ki so pogoj za objavo, možnosti potrjevanja objave novih terminoloških slovarjev, število različic in izvozov slovarja, ki jih lahko hrani posamezni uporabnik. Te nastavitve veljajo za vse terminološke vire na portalu.

h4#help-administration-settings-consulting= t('helpPageTitleAdministrationBasicSettingsConsultancy', { ns: 'extended' })
p V zavihku Svetovalnica izberete, katero svetovalnje boste nudili na terminološkem portalu. Povezava s Terminološko svetovalnico ISJFR ZRC SAZU vam omogoča, da se vsa vprašanja usmerijo k njihovim svetovalcem, če pa izberete lastno svetovalnico, pa jo urejate in vodite sami. Vnesti morate veljaven e-naslov, na katerem se zbirajo terminološka vprašanja in naslov spletnega mesta, kjer so zbrani odgovori.

h3#help-administration-link= t('helpPageTitleAdministrationLinksToOtherPortalsIndex', { ns: 'extended' })

p Svoj terminološki portal lahko povežete z drugimi terminološkimi portali in ob soglasju administratorjev teh portalov prikazujete tudi njihove terminološke slovarje. Pri tem morate vnesti podatke o portalu, predvsem pa paziti tudi na podvojene podatke in jih primerno označiti. Dvočrkovne oznake portalov so specifične in unikatne za vsak posamezni portal.

h4#help-administration-link-list= t('helpPageTitleAdministrationLinksToOtherPortalsList', { ns: 'extended' })
p Povezave s portali imate predstavljene na posebnem seznamu, ki ga lahko urejate na tem mestu. Pri dodajanju novih povezav je treba dodati ime in dvočrkovno oznako portala, s katerim se povezujete, seveda pa je treba dodati tudi veljaven URL.

h4#help-administration-link-dictionaries= t('helpPageTitleAdministrationLinksToOtherPortalsDictionaries', { ns: 'extended' })
p Na povezanem portalu lahko poiščete in izberete tiste terminološke slovarje, s katerimi želite dopolniti iskalne zadetke na svojem portalu. Lahko izberete vse slovarje ali le nekatere. Svoje izbire morate shraniti. Vse vaše izbire mora potrditi tudi administrator povezanega portala.

h3#help-administration-dictionaries= t('helpPageTitleAdministrationDictionaries', { ns: 'extended' })

p Administrator in skrbnik slovarjev lahko na tem mestu urejata vse podrobnosti o terminoloških slovarjih. Pri tem lahko spremenita status, da postane viden na javnem delu portala, doda nove uporabnike in jim določi pravice, dopolni področne oznake, lahko pa tudi celoten slovar izbriše ali ga dodeli za urejanje drugemu uporabniku.

h3#help-administration-users= t('helpPageTitleAdministrationUsers', { ns: 'extended' })

p Zavihek je namenjen določanju administratorskih in skrbniških vlog na portalu. Administrator lahko posameznim uporabnikom dodaja nove uporabniške vloge in ureja njihove podatke.

h3#help-administration-subfileds= t('helpPageTitleAdministrationSecondaryDomains', { ns: 'extended' })

p Podpodročja so namenjena podrobnejšemu razvrščanju terminoloških slovarjev. Administrator lahko na tem mestu potrjuje nova podpodročja, ki so jih predlagali uporabniki. Administrator naj na tem mestu preverja, če so nova podpodročja primerno opisana in poimenovana v skladu z drugimi.
