.help-nav
  .help-nav-mobile
    .mt-0.help-nav-title= t('helpPageTitleHelp', { ns: 'extended' })
    button#nav-button.nav-button
      img#burger-menu-img(
        src="/images/burger-menu-button-icon.svg"
        alt=t('Meni')
      )
    .nav-title.d-xl-none
      span.nav-title.ms-0= t('helpPageTitleHelp', { ns: 'extended' })

  nav.d-block.navbar.flex-column.py-0.slidable.scroller-style
    nav#help-nav-scrollspy.d-block.nav.nav-pills.help-nav-content.scroller-style
      .help-links-subgroup
        a.help-collapsible.subarea-link.nav-link(href="#help-general")= t('helpPageTitleAbout', { ns: 'extended' })
        nav.d-block.collapsed-content.nav-pills.nav.d-flex.flex-column
          a.nav-link.ms-2(href="#help-registration")= t('helpPageTitleRegistration', { ns: 'extended' })
      .help-links-subgroup
        a.help-collapsible.subarea-link.nav-link(href="#help-search")= t('helpPageTitleSearchIndex', { ns: 'extended' })
        nav.d-block.collapsed-content.nav-pills.nav.d-flex.flex-column
          a.nav-link.ms-2(href="#help-basic-search")= t('helpPageTitleSearchBasic', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-advanced-search")= t('helpPageTitleSearchAdvanced', { ns: 'extended' })
      .help-links-subgroup
        a.help-collapsible.subarea-link.nav-link(href="#help-extraction")= t('helpPageTitleExtractionIndex', { ns: 'extended' })
        nav.d-block.collapsed-content.nav-pills.nav.flex-column
          a.nav-link.ms-2(href="#help-specialized-corpuses")= t('helpPageTitleExtractionSpecializedCorpora', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-my-corpuses")= t('helpPageTitleExtractionPersonalCorpus', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-corpus-oss")= t('helpPageTitleExtractionOssCorpus', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-stop-lists")= t('helpPageTitleExtractionStopTerms', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-extraction-areas")= t('helpPageTitleExtractionDomains', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-terminology-candidates")= t('helpPageTitleExtractionTermCandidates', { ns: 'extended' })
      .help-links-subgroup
        a.help-collapsible.subarea-link.nav-link(href="#help-editor")= t('helpPageTitleEditingIndex', { ns: 'extended' })
        nav.d-block.collapsed-content.nav-pills.nav.flex-column
          a.nav-link.ms-2(href="#help-new-dict")= t('helpPageTitleEditingNewDictionary', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-edit-dict")= t('helpPageTitleEditingDictionaryProperties', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-users-dict")= t('helpPageTitleEditingUsers', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-structure-dict")= t('helpPageTitleEditingStructure', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-comments-dict")= t('helpPageTitleEditingComments', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-content-dict")= t('helpPageTitleEditingDictionaryContent', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-import-dict")= t('helpPageTitleEditingImportingData', { ns: 'extended' })
          a#help-nav-small-font.help-collapsible.subarea-link.nav-link.ms-2.pt-1(
            href="#help-content-add"
          )= t('helpPageTitleEditingEntriesIndex', { ns: 'extended' })
          nav.d-block.collapsed-content.nav-pills.nav.flex-column
            //- a.nav-link.ms-3(href="#help-content-headword") Oblike, naglasi, izgovor
            a.nav-link.ms-3(href="#help-content-domains")= t('helpPageTitleEditingEntriesDomainLabels', { ns: 'extended' })
            a.nav-link.ms-3(href="#help-content-label")= t('helpPageTitleEditingEntriesLabel', { ns: 'extended' })
            a.nav-link.ms-3(href="#help-content-def")= t('helpPageTitleEditingEntriesDefinition', { ns: 'extended' })
            a.nav-link.ms-3(href="#help-content-syn")= t('helpPageTitleEditingEntriesSynonyms', { ns: 'extended' })
            a.nav-link.ms-3(href="#help-content-links")= t('helpPageTitleEditingEntriesRelatedTerms', { ns: 'extended' })
            a.nav-link.ms-3(href="#help-content-flang")= t('helpPageTitleEditingEntriesOtherLanguages', { ns: 'extended' })
            a.nav-link.ms-3(href="#help-content-other")= t('helpPageTitleEditingEntriesOther', { ns: 'extended' })
            a.nav-link.ms-3(href="#help-content-history")= t('helpPageTitleEditingEntriesEditingHistory', { ns: 'extended' })
            a.nav-link.ms-3(href="#help-content-comments")= t('helpPageTitleEditingEntriesComments', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-export-dict")= t('helpPageTitleEditingEntriesDataExport', { ns: 'extended' })
      .help-links-subgroup
        a.help-collapsible.subarea-link.nav-link(href="#help-consulting")= t('helpPageTitleConsultancyIndex', { ns: 'extended' })
        nav.d-block.collapsed-content.nav-pills.nav.flex-column
          a.nav-link.ms-2(href="#help-consult-questions")= t('helpPageTitleConsultancyQuestions', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-consult-principles")= t('helpPageTitleConsultancyTerminologyPrinciples', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-consult-link")= t('helpPageTitleConsultancyLink', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-consult-answers")= t('helpPageTitleConsultancyAnswers', { ns: 'extended' })
      .help-links-subgroup
        a.help-collapsible.subarea-link.nav-link(href="#help-administration")= t('helpPageTitleAdministrationIndex', { ns: 'extended' })
        nav.d-block.collapsed-content.nav-pills.nav.flex-column
          a.nav-link.ms-2(href="#help-administration-settings")= t('helpPageTitleAdministrationBasicSettingsIndex', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-administration-settings-portal")= t('helpPageTitleAdministrationBasicSettingsPortal', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-administration-settings-dictionaries")= t('helpPageTitleAdministrationBasicSettingsDictionaries', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-administration-settings-consulting")= t('helpPageTitleAdministrationBasicSettingsConsultancy', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-administration-link")= t('helpPageTitleAdministrationLinksToOtherPortalsIndex', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-administration-link-list")= t('helpPageTitleAdministrationLinksToOtherPortalsList', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-administration-link-dictionaries")= t('helpPageTitleAdministrationLinksToOtherPortalsDictionaries', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-administration-dictionaries")= t('helpPageTitleAdministrationDictionaries', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-administration-users")= t('helpPageTitleAdministrationUsers', { ns: 'extended' })
          a.nav-link.ms-2(href="#help-administration-subfileds")= t('helpPageTitleAdministrationSecondaryDomains', { ns: 'extended' })
