mixin responseModal(responseId="response-modal", understandBtn = "Razumem", understandBtnId = "understand-btn", understandMainText = "Ali res želite izbrisati vnos? Dejanja ni mogoče razveljaviti.")
  .modal.fade(
    id=responseId
    tabindex="-1"
    aria-labelledby="modal-alert-label"
    aria-hidden="true"
  )
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          h5#modal-alert-label.modal-title.modal-title-blue Obvestilo
          button.btn-close(
            type="button"
            data-bs-dismiss="modal"
            aria-label="Close"
          )
        .modal-body.d-flex.justify-content-between.align-items-center
          .d-flex.modal-alert-content
            p#response-modal-text.normal-gray= understandMainText
        .modal-footer.d-flex.justify-content-end.align-items-center
          button.btn.btn-secondary(
            id=understandBtnId
            type="button"
            data-bs-dismiss="modal"
          )= understandBtn
