#reset-pass-modal.modal.fade(
  tabindex="-1"
  aria-labelledby="modal-reset-pass-label"
  aria-hidden="true"
)
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h5#modal-fp-label.modal-title.modal-title-blue #{ t('Pozabljeno geslo') }
        button.btn-close(
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
        )
      .modal-body.d-flex.align-items-center.flex-column
        .description #{ t('Ste pozabili geslo? Napišite svoje uporabniško ime ali elektronski naslov, ki ste ga uporabili ob registraciji. Na ta naslov vam bomo poslali sporočilo, s pomočjo katerega boste lahko vnesli novo geslo.') }
        input#forgot-pass-input.d-block.mt-3.form-control(
          type="text"
          placeholder=t('Uporabniško ime ali elektronski naslov')
        )
      .modal-footer.d-flex.justify-content-between.align-items-center
        button#modal-fp-cancel-btn.btn.btn-secondary(
          type="button"
          data-bs-dismiss="modal"
        ) #{ t('Prekliči') }
        button#modal-fp-use-btn.btn.btn-primary(
          type="button"
          data-bs-dismiss="modal"
        ) #{ t('Potrdi') }
