#reset-pass-info.modal.fade(
  tabindex="-1"
  aria-labelledby="modal-alert-label"
  aria-hidden="true"
)
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h5#modal-alert-label.modal-title.modal-title-blue #{ t('Obvestilo') }
        button.btn-close(
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
        )
      .modal-body.d-flex.align-items-center
        .d-flex.modal-alert.me-3
          img(src="/images/alert-circle-modal.svg")
        .d-flex.modal-alert-content
          p#alert-text.normal-gray #{ t('Na vaš elektronski naslov smo vam posredovali povezavo za ponastavitev gesla. Prosimo preverite svoj elektronski predal.') }

      .modal-footer.d-flex.justify-content-center.align-items-center
        button#modal-fp-info-close.btn.btn-primary(
          type="button"
          data-bs-dismiss="modal"
        ) #{ t('Zapri') }
