#alert-modal.modal.fade(
  tabindex="-1"
  aria-labelledby="modal-alert-label"
  aria-hidden="true"
)
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h5#modal-alert-label.modal-title.modal-title-blue Pozor
        button.btn-close(
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
        )
      .modal-body.d-flex.align-items-center
        .d-flex.modal-alert.me-3
          img(src="/images/alert-circle-modal.svg")
        .d-flex.modal-alert-content
          p#alert-text.normal-gray Ali želite zbrisati ta vnos?
      .modal-footer.d-flex.justify-content-between.align-items-center
        button#modal-cancel-btn.btn.btn-secondary(
          type="button"
          data-bs-dismiss="modal"
        ) Prekliči
        button#modal-use-btn.btn.btn-primary(
          type="button"
          data-bs-dismiss="modal"
        ) Potrdi
