mixin decision(sel)
  .d-flex.w-100
    span.d-flex.justify-content-start
      .results-heading.flex.flex-column
        a#headword.m-auto.d-inline-block.text-header-title-gray(
          href="#"
          class=sel == 0 ? 'selected' : ''
        )= t('TERMIN')
        a#translation.m-auto.ps-3.d-inline-block.text-header-title-gray(
          href="#"
          class=sel == 1 ? 'selected' : ''
        )= t('TUJI TERMIN')
        a#other.m-auto.ps-3.d-inline-block.text-header-title-gray(
          href="#"
          class=sel == 2 ? 'selected' : ''
        )= t('DRUGO')
