extends /layout

block pageSpecificScipts
  script(nonce=cspNonce src="/javascripts/admin.js")

block body
  section#fixed-top-section
    include /common/main-navigation
    +main-navigation(false)
  include /pages/profile/my-profile-side-menu-mixin
  - const d = { selection: 'change-profile-password' }
  +sideNavigation(d)
  include /utilities/dictionaries-main-panel-header
  - const c = { sideMenu: true, h1: title, description: t('Tukaj lahko spremenite geslo za prijavo.'), buttons: [{ type: 'disabled', content: t('Shrani'), form: 'profileForm' }] }
  +mainHeader(c)

  .content-hold-prerequisites
    #offset-main.main-container.mt-2
      form#profileForm.needs-validation(method="post" novalidate)
        div
          .subject-name
            label.input-name-txt(for="password-old") #{ t('STARO GESLO') }
          .row
            .col-sm-6.align-items-center
              input#password-old.name-input.form-control.d-inline(
                type="password"
                name="passwordOld"
                value=""
              )
              .invalid-feedback #{ t('Napačno geslo.') }

            .col-sm.d-flex.align-items-center
              span.d-md-inline.d-block.name-info-txt.ms-xxl-3.ms-md-3.mt-3.mt-sm-0

        .mt-4
          .subject-name
            label.input-name-txt(for="dictionary-title-en") #{ t('NOVO GESLO') }
          .row
            .col-sm-6
              input#password-new.name-input.form-control.d-inline(
                type="password"
                name="passwordNew"
                minLength="1"
                value=""
              )
              .invalid-feedback #{ t('Geslo je prekratko.') }

            .col-sm.d-flex.align-items-center
              span.d-md-inline.d-block.name-info-txt.ms-xxl-3.ms-md-3.mt-3.mt-sm-0

        .mt-4
          .subject-name
            label.input-name-txt(for="dictionary-title-en") #{ t('PONOVI NOVO GESLO') }
          .row
            .col-sm-6
              input#password-repeat.name-input.form-control.d-inline(
                type="password"
                name="passwordNewRepeat"
                minLength="1"
                value=""
              )
              .invalid-feedback #{ t('Geslo se ne ujema.') }

            .col-sm.d-flex.align-items-center
              span.d-md-inline.d-block.name-info-txt.ms-xxl-3.ms-md-3.mt-3.mt-sm-0

      include /common/footer
