mixin sideNavigation(sideNavigationData)
  .admin-nav
    #admin-nav-mobile.admin-nav-mobile
      .mobile-left-holder
        button#nav-button.nav-button
          img#burger-menu-img(
            src="/images/burger-menu-button-icon.svg"
            alt="Meni"
          )
        span.nav-title Moj Profil
      #mobile-right-holder
    nav
      ul.admin-nav-content.slidable
        li(
          class=sideNavigationData.selection === 'change-profile-data' ? 'focused-menu' : 'admin-nav-item'
        )
          a.active(href="/moj-racun") 
            img(src="/images/user-gray.svg" alt="Basic")
            p Osnovni podatki
        li(
          class=sideNavigationData.selection === 'change-profile-password' ? 'focused-menu' : 'admin-nav-item'
        )
          a.active(href="/spremeni-geslo") 
            img(src="/images/lock-gray.svg" alt="Settings")
            p Spremeni geslo
        li(
          class=sideNavigationData.selection === 'change-profile-settings' ? 'focused-menu' : 'admin-nav-item'
        )
          a.active(href="/nastavitve-racuna") 
            img(src="/images/cog.svg" alt="Settings")
            p Nastavitve
