each result in results
  tr
    input(type="hidden" name="secondaryDomainId" value=result.id)
    th(scope="row")
      if result.isApproved
        input.form-check.checkbox-table(
          type="checkbox"
          name="isApproved"
          checked
          disabled
        )
      else
        input.form-check.checkbox-table(
          type="checkbox"
          name="isApproved"
          disabled
        )
    td.tdata-area= result.nameSl
    td.tdata-translation= result.nameEn
    td.buttons-group
      .table-buttons
        button.p-0.table-button-grp.me-3.edit-row-btn(type="button")
          img(src="/images/u_edit-alt.svg" alt="")
        button.p-0.table-button-grp.delete-row-btn(
          data-bs-target="#alert-modal"
          data-bs-toggle="modal"
          type="button"
        )
          img(src="/images/red-trash-icon.svg" alt="")
